footer {
    text-align: center;
    padding-top: 1%;
    padding-bottom: 0.5%;
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    color: #f93;
}

body {
    background-color: #003267;
    margin-left: 0px;
    margin-right: 0px;
}
h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 47px;
    text-align: center;
    color: #003267;
    padding-top: 100px;
}

.loginburger {
    /* float:left; */
    padding-left: 2%;
    padding-top: 1%;
}

.loginburger a {
    display:block;
    width:50%;
    visibility:hidden;
    font-size: 20px;
    color: #f93;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    padding-left: 20%;

}

.loginburger:hover a {
    display:block;
    width:50%;
    visibility:visible;
}

a.burger {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  /* padding-left: 10%; */
}

a.burger:hover {
  text-decoration:underline
}


nav {
    padding-top: 8%;
    text-align:center;
    background-color: #003267;
    width: 100%;
    height: 50px;
    margin-right: 20px;

}

nav ul li {
    display:inline;
    padding-left: 2%;
    padding-right: 5.2%;
    color: #f93;
    text-align:center;

}

nav ul li a:hover {
    text-decoration: underline;
    text-underline-position: under;

}

nav ul li a {
    font-size: 24px;
    color: #f93;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}


header {
    background-color: #003267;
    width: 100%;
    /* padding-top: 8%; */
    padding-bottom: 0.5%;
}

div.gifts {
    background-color: #98cccc;
}

div.gItem {
    border-right: 2px solid #003267;
    border-left: 2px solid #003267;
    background-color: #98cccc;
    margin-top: 3%;
    margin-bottom: 3%;
    display: block;
    margin-left: 8.2%;
    width: 22%;
    float: left;
    text-align: center;
    min-height: 480px;

}

img.gift {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    text-align: center;
    color: #003267;
}


h3.des {
    font-family: 'Amaranth', sans-serif;
    font-style: italic;
    weight: 600;
    font-size: 15px;
    text-align: center;
    color: #000;
    margin-left: 5%;
    margin-right: 5%;
}

img.header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    width: 20%;
    min-width: 250px;
}

div.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 480px;
}

div.burger {
    color: #98cccc;
    text-align:center;
    display: none;
}

img.burger {
    width: 5%;
    padding: 0px;
    margin-top: 5%;
}

div.oBurger {
    display: none;
}

div.oBurger ul {
    list-style-type: none;
    text-align:center;

}

div.oBurger ul li {
    margin-top: 2.5%;
    margin-right: 38px;
}

div.oBurger ul li a {
    font-size: 24px;
    color: #f93;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;

}

#class {
    margin-top: 0px;
}

#burgerUl {
    display: none;
}

#choo {
    color: #000; text-decoration: none;
}

div.total {
    border-radius: 25px;
    border: 2px solid #f93;
    background-color: #98cccc);
    margin-top: 3%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

#total, #totalMes {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 27px;
    text-align: center;
    color: #f93;
}

@media (max-width: 1500px) {
    nav ul li {
        padding-left: 1.5%;
        padding-right: 4%;
    }
}

@media (max-width: 1028px) {
    nav ul li {
        padding-left: 1.5%;
        padding-right: 4%;
    }
}

@media (max-width: 910px) {
    nav {
        display: none;
    }

    div.gifts {
        height: 4800px;
    }

    div.burger {
        display: block;
        color: #98cccc;
        text-align:center;
    }

    div.gItem {
        width: 40%;
        min-height: 480px;
    }

    #choco {
        margin-top: 8%;
    }

    #class {
        margin-top: 3%;
    }

    #burgerUl {
        display: block;
    }
}
